@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Mangrary</title>
	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="bg-light">
	<nav class="nav-bg navbar-expand-sm py-2 justify-content-between">
		<div id="nav-1st-div" class="mx-auto row w-75">
			<div class="nav-brand">
				<a asp-action="Index" asp-controller="Home">
					<img class="ml-2" src="~/images/logo.png" asp-append-version="true">
				</a>
			</div>
			<div class="search-box my-auto">
				<form class="form-inline" method="GET" asp-controller="Product" asp-action="Search">
					<div class="input-group mx-auto bg-white rounded20">
						<input id="search-box" type="text" name="pattern" class="form-control search-box" placeholder="What are you looking for?" aria-label="What are you looking for?" aria-describedby="search-box">
						<div class="input-group-append bg-white rounded20">
							<button class="btn" type="submit"><i id="search-box-btn" class="my-auto fa fa-search"></i></button>
						</div>
					</div>
				</form>
			</div>
			<div class="my-auto links">
				<button class="navbar-toggler" data-toggle="collapse" data-target="#nav"><i class="fa fa-bars"></i></button>
				<div class="collapse navbar-collapse" id="nav">
					<div class="w-100 mx-auto text-center">
						<ul class="navbar-nav justify-content-between">
							<li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home"><span is-active-route asp-controller="Home" asp-action="Index">Home</span></a></li>
							<li class="nav-item"><a class="nav-link" asp-action="Category" asp-controller="Product"><span is-active-route asp-controller="Product" asp-action="Category">Categories</span></a></li>
							<li class="nav-item"><a class="nav-link" asp-action="Contact" asp-controller="Home"><span is-active-route asp-controller="Home" asp-action="Contact">Contact</span></a></li>
							@if(signInManager.IsSignedIn(User))
							{
								<li class="nav-item">
									<form method="post" asp-action="SignOut" asp-controller="Account">
											<button id="signout" type="submit" class="nav-link btn btn-link mx-auto">
												Sign out
											</button>
									</form>
								</li>
							}
							else
							{
								<li class="nav-item"><a class="nav-link" asp-action="SignIn" asp-controller="Account"><span is-active-route asp-controller="Account" asp-action="SignIn">Sign in</span></a></li>
								<li class="nav-item"><a class="nav-link" asp-action="SignUp" asp-controller="Account"><span is-active-route asp-controller="Account" asp-action="SignUp">Sign up</span></a></li>
							}
								<li class="nav-item">
									<a asp-action="Index" asp-controller="Cart">
										<i class="h3 my-auto fa fa-shopping-cart text-light" aria-hidden="true"></i>
									</a>
								</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</nav>
	<div class="container-fluid py-2">
		@RenderBody()
	</div>

	<footer class="border-top footer text-muted bg-dark">
		<div class="container">
			&copy; 2019 - Mangary - <a asp-action="Privacy" asp-controller="Home">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/jquery.js"></script>
	<script src="~/lib/jquery-validation/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>