a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

nav a {
  color: #fff;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* html, body { background-color: #DDD; } */
.abc { width: 360px; }

#input-70
{
	width: 70%
}

#signout
{
	color: #fff;
	padding-right: 8px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}
#signout:hover {
	color: #0056b3;
}

#cart {
	padding-bottom: 2.75px;
	padding-top: 0px;
}

.nav-link:hover {
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.bg-red {
	background-color: #9a1403;
}
.darkred {
	color: #bd0029;
}

.active {
	font-weight: bold;
/*	color: #c00000; */
	color: #f8f9fa;
}

@media (max-width: 575.98px) { .abc { width: 90%; } }
@media (max-width: 768px) { .links { width: 100%; } }
@media (max-width: 567px) { div.search-box { width: 100%; }}
@media (max-width: 580px) { #search-box { width: 75%; } }
@media (max-width: 810px) { #nav-1st-div { justify-content: center; }}
@media (min-width: 811px) { #nav-1st-div { justify-content: space-between;}}
.bg-dots {
	width: 100%;
	min-width: 1020px;
	z-index: 20;
	background: url(/images/bg.png) center top repeat;
}

.nav-brand > a > img {
	width: 160px;
	display: block;
}

.navbar-toggler {
	position: absolute;
	right: 4%;
	top: 30px;
	font-size: 23pt;
	color: white;
	z-index: 1;
}

input.search-box[type="text"] {
	outline: none;
	box-shadow:none !important;
	border-radius: 20px;
	border:5px solid #fff !important;
	width: 400px;
	background-color: #fff;
}

div.search-box {
	top: 32.5px;
	left: 30%;
}

.rounded20 {
	border-radius: 20px;
}
.rounded100 {
	border-radius: 20px;
}

#search-box-btn {
	color: #ba1619;
}

.nav-bg {
	background-image: linear-gradient(15deg, #b31217 0%, #e52d27 100%) 
}

.bg-dark {
	background-color: #222831 !important;
}

.bg {
	background-color: #e0e0e0 !important;
}

.bg-light {
	background-color: #f3f3f3 !important;
}