/* my code */

/* nav */
/*     search */
#search-btn {
  padding-top: 7px;
  padding-left: 14px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding-bottom: 7px;
  padding-right: 14px;
}

#search-bar {
  overflow: hidden;
  transition: 0.4s;
}
.search-bar {
  max-height: 60px !important;
  background-color: #bf1b0c;
}
.sb-collapsed {
  max-height: 0;
}

/*     cart */
#cart {
	padding-bottom: 2.75px;
	padding-top: 0px;
}

nav .btn-link {
  color: #686560;
}

/*     links */
#nav-links.collapse:not(.show)
{
  display: block;
}
#links {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row;
  height: 75.8px;
  margin-top: auto;
  margin-bottom: auto;
}

#toggler {
  height: 75.8px; 
  display: none;
}

@media (max-width: 826px) {
  #nav-links.collapse:not(.show)
  {
    display: none;
  }

  #links {
    flex-direction: column;
    min-height: 75.8px;
    max-height: none;
    height: auto;
    padding-top: 45px;
  }
  #links a {
    margin-left: auto;
    margin-right: auto;
  }
  #toggler {
    display: block;
  }
}

nav a {
  color: #686560;
  font-weight: 500;
}

.nav-link:hover {
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.active {
	font-weight: bold;
/*	color: #c00000; */
	color: #111;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#signout
{
  color: #686560;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding-top: 8px;
}
#signout:hover {
	color: #0056b3;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/* html, body { background-color: #DDD; } */
.abc { width: 360px; }

#input-70 {
	width: 70%
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.bg-red {
	background-color: #9a1403;
}
.darkred {
	color: #bd0029;
}


@media (max-width: 575.98px) { .abc { width: 90%; } }
@media (max-width: 768px) { .links { width: 100%; } }
@media (max-width: 567px) { div.search-box { width: 100%; }}
@media (max-width: 580px) { #search-box { width: 75%; } }

.bg-dots {
	width: 100%;
	min-width: 1020px;
	z-index: 20;
	background: url(/images/bg.png) center top repeat;
}

.nav-brand > a > img {
	width: 160px;
	display: block;
}

.navbar-toggler {
	position: absolute;
	right: 4%;
	top: 30px;
	font-size: 23pt;
	color: white;
	z-index: 1;
}

input.search-box[type="text"] {
	outline: none;
	box-shadow:none !important;
	border-radius: 20px;
	border:5px solid #fff !important;
	width: 400px;
	background-color: #fff;
}

div.search-box {
	top: 32.5px;
	left: 30%;
}

.rounded20 {
	border-radius: 20px;
}
.rounded100 {
	border-radius: 20px;
}

#search-box-btn {
	color: #ba1619;
}

.paging-related-btn {
	color: #fff;
	background-color: #cb1f1f;	
	font-weight: bold;
}
.paging-related-btn:hover {
	color: #cb1f1f;
	background-color: #fff;	
	font-weight: bold;
}

.nav-bg {
	background-image: linear-gradient(15deg, #b31217 0%, #e52d27 100%);
}

.bg-dark {
	background-color: #222831 !important;
}

.bg {
	background-color: #e0e0e0 !important;
}

.bg-light {
	background-color: #f3f3f3 !important;
}